* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    width: 512px;
    background-color: rgb(23, 34, 179);
}


#cards {
    background-color: slateblue;
    border-radius: 2rem;
}


