* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
body {
    width: 512px;
    background-color: #191d7b;
    color: white;
     margin: 0 auto;
}

img, video {
    max-width: 100%;
}

 main {
    padding: 0 2rem;
}
 h1 {
   
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.25rem;
    margin-bottom: 1rem;
    margin-top: 4rem;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
 }

#header_main {
    text-align: center;
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

#intro {
    margin: 0 auto;
    text-align: center;
    max-width: 75%;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
}

#intropp {  
    margin-bottom: 0.75rem;
}

#button1,#button2 {
    border-radius: 1rem;
    padding: 0.75rem 1rem;
    margin: 0.5rem;
    background-color: transparent   ;
    min-width: 90%;
    border: none;
    cursor: pointer;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-size: large;
}

#button1 {
    color: black;
 background-color: white;
}

#button2 {
    color: white;
    background-color: #5865f2;
}
#card_cube, #card_eyes {
    text-align: left;
    background-color: #5d64d1;
    background-image: linear-gradient(to bottom, #5d64d1, #0c103d);
    border-radius: 2rem;
    padding: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
}
#header_card_cube, #header_card_eyes {
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    line-height: 1;
    text-transform: uppercase;
}
#pcube, #peyes {
    margin: 1rem 0;
    text-align: left;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


#card1video, #card2video {
    align-items: center;
    border-radius: 2rem;
}


