* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    width: 512px;
    background-color: rgb(23, 34, 179);
    color: whitesmoke;
}

#header_main {
   font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#header_card_cube  {
   font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#header_card_eyes  {
   font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

button {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000px;
    font-style: normal;
    font-size: large;
}

#cards {
    background-color: slateblue;
    border-radius: 2rem;
}


