* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 #banner_img {
    max-width: 100%;
 }

body {
    width: 512px;
    background-color: #191d7b;
    color: whitesmoke;
}
 main {
    padding: 2rem;
 }

 h1 {
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    margin-bottom: 1rem;
    line-height: 1;
 }

#header_main {
    justify-content: center;
    text-align: center;
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

#intro {
    margin: 0 auto;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    max-width: 80%;
}

#button1,#button2 {
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    min-width: 90%;
    border: none;
    cursor: pointer;
}

#button1 {
    color: black;
 background-color: white;
}

#button2 {
    color: white;
    background-color: #5865f2;
}
#card_cube, #card_eyes {
    background-color: #5d64d1;
    border-radius: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    align-items: center;
    text-align: center;
}
#header_card_cube, #header_card_eyes {
    padding-right: 5rem;
    justify-content: center; 
    align-items: center;
    text-align: left;
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    line-height: 1;
}

#imgcardcubeimg, #imgcardeyes {
    align-items: center;
    margin-right: 1.5rem;
    border-radius: 2rem;
    max-width: 100%;
    
}

p {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-size: large;
}


