* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    width: 512px;
    background-color: rgb(23, 34, 179);
}

#headerapp_DiscordGC {
    background-color: darkslateblue;
    color: white;
    text-align: center;
    max-width: 512px;
    height: auto;
}

#cards {
    background-color: slateblue;
    border-radius: 2rem;
}


